
/*#root {
    max-width: 1280px;
  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
        min-height: 100%;  
        position: relative;
}*/
html{

    font-family: Arial, sans-serif;
   margin: 0 auto;
    box-sizing: border-box;
   

  }
  *, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body{
    background: #22fff2;
 

  }

  a{
    text-decoration: none;
    color: inherit;
  }
  .wrapper{

max-width: 1280px;
width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: beige;

    min-height: 100%;
margin: 0 auto;

  }

.header{
box-sizing: border-box;
    background-color: black;
    height: 120px;

max-width: 1280px;
width: 100%;
margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
right: 0;
    transition: top 0.3s ease;
}


.header_wrapper{
    box-sizing: inherit;
    height: 121px;
max-width: 1280px;
 width: 100%;
   
    margin: 0 auto;
}
.header_content{
    font-family: "Neue Helvetica Pro", "Arial Narrow", sans-serif;
    
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    padding: 20px 50px 12px 40px;
    height: 90px;
    width: 100%;
    align-items: center ;
}

.header_logo{
    display: flex;
    justify-content: center;
    margin: 0 auto 30px;
}

.nav_li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    list-style: none;
    list-style: none;
    color: white;
padding: 0;

font-family: 'Arial', sans-serif;
font-weight: 400;
line-height: 1.6;
letter-spacing: 0.5px;
font-size: 16px;


}
.nav_l1{
    padding: 0 0px 8px 8px;
    line-height: 1;
    width: max-content;
    font-weight: 400;
}


.main{
background: rgb(155, 207, 190);
display: block;
flex-grow: 1;
 margin: 0 auto;
 max-width: 1280px;
 overflow: hidden;
width: 100%;
}

.content_container{
height: 100%;
    max-width: 1280px;
    width: 100%;
  margin-top: 121px;
  
  
}
.component{
  height: calc(100vh - 120px);
  margin-bottom: 20px;
  max-width: 1280px;
  width: 100%;
}
.carousel{
    width: 100%;
    height: calc(100vh -269px);

}

.carousel__wrapper{
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh -269px);
}
.carousel__inner{
    list-style: none;
    box-sizing: inherit;
    display: flex;
    justify-content: flex-start;
 
    width: 100%;
    height: calc(100vh -269px);

}
 li.carousel__slide{
    width: 100%;


}

.carousel--image{
    width: 100%;
   height: 81vh;
   position: relative;
   z-index: 0;
   margin-bottom: 20px;
   padding-bottom: 5px;
}
.carousel__btn-left{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
 
    top: 55%;
    left: 60px;
z-index: 1;
font-size: 26px;
font-weight: bold;
color: #ffff;
background-color: rgb(155, 184, 197);
border: solid 2px #bfd1dd;
}
.carousel__btn-right{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 55%;
    left: calc(1280px - 30px);
z-index: 1;
font-size: 26px;
font-weight: bold;
color: #ffff;
background-color: rgb(155, 184, 197);
border: solid 2px #bfd1dd;
}
:hover.carousel__btn-right, :hover.carousel__btn-left{
    border:  solid 2px #ffff;
}

.transporterUs__head{
    height: 130px;
}
.transporterUs__title{
    font-size: 36px;
    font-weight: bold;
    border-top: solid 2px #000000;
}

.footer{
  
    background-color: black;
    padding: 45px 60px;
 height: 320px;
  width: 1280px;  
}
.footer_links{
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 72px;
    padding-left: 6px;
    color: white;
}

.footer__main-links{
    margin-bottom: 34px;
    display: block;
    height: 24px;
    box-sizing: border-box;
}
.footer__other-links{
    padding: 0;
    margin: 0;
}
.footer_li{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}
.footer_l1{
    margin-right: 36px;
}
.footer_li2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
list-style: none;

padding-left: 0;
}
.footer_l2{
    margin-right: 28px;
}

.footer__social{
    display: block;
    margin-bottom: 28px;
    height: 27px;
}
.footer_li3{
    display: flex;
    flex-wrap: wrap;
    color: #ffff;
    list-style: none;
    padding-left: 0;
}
.footer_l3{
    margin-right: 16px;
 
}
.footer_image{
    height: 27px;
    width: 27px;
}
.footer__disclaimer{
    display: inline-block;
    width: 660px;
   
}

/* 



.header{
margin: 0 ;
    background-color: aqua;
  
    height: 169px;
max-width: 1280px;
    position: fixed;
    top: 0;
    left: 0;
right: 0;
    transition: top 0.3s ease;
}
.main{
    background-color: blue;
flex-grow: 1 ;

padding-top: 500px;
margin-top: 200px;

}
.footer{
    background-color: blueviolet;
   height: 200px;
}*/